<?xml version="1.0" ?>
<model>
    <name>real_sense</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Guilherme Campos Camargo</name>
        <email>guilherme.campos.camargo@intel.com</email>
    </author>
    <description>An Intel Real Sense R200 Camera model</description>
</model>
